@charset "utf-8";
*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
img {
	vertical-align: bottom;
}
body{
    font-family: '微软雅黑';
}
i{
    font-style: normal;
}   


// float-left
.bdshare-slide-list{
    a:hover{
        color:#e49303;
    }
}

//tophead
.tophead{
    height: 30px;
    width:1340px;  
    margin:0 auto;
    background:#f5f5f5;
    .topcontent{
        font-size: 12px;
        width:1340px;
        height: 30px;
        margin:0 auto;
        color: black;
        .top-left{
            height: 30px;
            line-height: 30px;
            float: left;
            margin-left: 10px;
            color:black;
            .top-left1{
                color: black;
            }
        }
        .top-right{
            height: 30px;
            line-height: 30px;
            float: right;
            color:black;
            margin-left: 10px;
            .top-right1{
                color: black;
            }
        }
        em{
            margin: 0 3px 0 5px;
            background:black;
            width:1px;
            display: inline-block;
            vertical-align: middle;
            height: 14px;
        }
    }
} 

//search-area
.search-area{
    position: relative;
    padding-top: 3px;
    background: white;
    height: 100px;
    width:1340px;
    margin:0 auto;
    .logo0 {
        display: inline-block;
        height: 100px;
        float: left;
        img{
            width:400px;
            height: 97px;
        }
    }
    #search-text{
        position: absolute;
        left: 50%;
        top: 40px;
        margin-left: -60px;
        text-align: center;
        display: inline-block;
        width: 320px;
        #forms{
            height: 36px;
        .text{
            width:248px;
            float: left;
            height: 34px;
            input{
                border: none;
                border:1px solid #e49303;
                height: 34px;
                width:248px;
            }
        }
        .sousuo{
            background: #c86c85;
            width: 68px;
            border:1px solid #e49303;
            height: 32px;
            line-height: 34px;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            float:right;
            .btn{
                text-align: center;
                color:white;
            }
        }
      }
    }
    #car-text{
        width:200px;
        height: 60px;
        float: right;
        margin: 20px 100px 20px 0;
        text-align: center;
        .my-shop-car{
            text-align: center;
            display: inline-block;
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            &:hover{
                color:#e49303;
            }
            #number{
                font-size:16px; 
                color: red;
            }
            i{
                display:block;
                width: 12px;
                height: 22px;
                margin-left: 10px;
            }
        }
    }
}

//nav
.nav{
    background: #c86c85;
    height: 45px;
    .ul{ 
        margin-left: 13px;
        .index1{
            background: #e49303;
        }
        a{
        display:block;
        height: 45px;
        float: left;
        line-height: 45px;
        &:hover{
            background:#e49303;
        }
        span{
            width: 120px;
            text-align: center;
            display: inline-block;
            height: 20px;
            font-size: 16px;
            color:white;
        }
    }
  } 
}

.section{
    width: 1320px;
    margin: 6px auto;
    // section-one
    .section-one{
        height: 30px;
        width: 100%;
        margin:10px auto;
        padding-left: 12px;
        a{
            display: inline-block;
            float: left;
            height: 30px;
            line-height: 30px;
            color:black;
            font-size: 14px;
            &:last-child{
                color:#e49303;
            }
        }
        b{
            display: inline-block;
            height: 30px;
            line-height: 30px;
            color: #e49303;
            float: left;
            margin: 0 10px;
        }
    }
   //section-head
   .section-head{
       height: 35px;
       line-height: 35px;
       padding-left: 10px;
       border-bottom: 1px solid rgb(230, 227, 227);
       a{
           color: #333;
           font-size: 20px;
       }
   }

   //body-one
   .body-one{
       height: 585px;
       width: 100%;
       padding-top:10px;
       .content-img{
           height: 576px;
           width:430px;
           float: left;
           .s{
               width: 420px;
               height: 420px;
               padding:5px;
               display: block;
               border:1px solid #e49303;
           }
           .x{
                margin-top:10px;
                width:430px;
                height: 111px;
                display: block;
                img{
                    display: block;
                    border:1px solid #ccc;
                    transition: all .6s;
                    &:hover{
                        border:1px solid #e49303;
                    }
                }
           }
       }
       .share{
           width: 430px;
           height: 30px;
           background:#ccc;
       }
       .content-text{
            float:right;
            width: 876px;
            height: 578px;
            margin-left:10px;
            h2{
                width: 878px;
                height: 32px;
                line-height: 32px;
                font-weight: 600;
                color: #555555;
            }
            .purches{
                width: 877px;
                height: 38px;
                margin-top:10px;
                .price-a{
                    float: left;
                    width:46px;
                    height: 38px;
                    line-height: 38px;
                    margin-right: 30px;
                    text-align: center; 
                    font-size: 12px;
                    color: #6e6e6e;
                }
                .price-b{
                    float:left;
                    width:800px;
                    height: 38px;
                    ul{
                        width:800px;
                        height: 38px;
                        line-height: 38px;
                        font-size: 12px;
                        color: #6e6e6e;
                        li{
                            span{
                                color: red;
                                font-size: 20px;
                                margin-right: 5px;
                            }
                            &:first-child{
                                float: left;
                            }
                            &:last-child{
                                margin-right: 10px;
                                float: right;
                                b{
                                    float: left;
                                    font-size: 14px;
                                    color:#555;
                                }
                                i{
                                    width: 15px;
                                    height:15px;
                                    background: black;
                                    float: left;
                                    margin:10px 5px;
                                }
                            }
                        }
                    }
                }
            }
            .accumulation{
                border-top:1px dashed #ccc;
                border-bottom:1px dashed #ccc;
                width: 878px;
                height: 34px;
                line-height: 34px;
                em{
                    margin:5px;
                    width: 1px;
                    height: 10px;
                    float: left;
                    background:#6e6e6e;
                    margin-top:10px;
                }
                span{
                    font-size: 12px;
                    color: #6e6e6e;
                    text-align: center;
                    display: block;
                    width:430px;
                    &:first-child{
                        float: left;
                    }
                    &:last-child{
                        float:right;
                    }
                }
            }
            .buy{
                width:878px;
                height: 46px;
                margin: 20px 0 10px;
                span{
                    display: inline-block;
                    width:90px;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    font-size: 14px;
                    color:#6e6e6e;
                    margin-left:10px;
                    float:left;
                }
                form{
                    width:81px;
                    height: 46px;
                    line-height: 46px;
                    float: left;
                    input{
                        width:53px;
                        height: 42px;
                        border: 1px solid #ccc;
                        float: left;
                        border-right: none;
                        text-align: center;
                        font-weight: 600;
                    }
                    a{
                        width: 14px;
                        height: 20px;
                        float: left;
                        border: 1px solid #ccc;
                        display: inline-block;
                        line-height: 21px;
                        text-align: center;
                        transition:all .6s;
                        color: black;
                        font-weight: 600;
                        &:hover{
                            background:#6e6e6e;
                            color:white;
                        }
                    }
                }
                ul{
                    width:114px;
                    height: 44px;
                    line-height: 44px;
                    float: left;
                    margin-left:15px;
                    li{
                        &:first-child{
                            float: left;
                            color: #6e6e6e;
                            font-size: 12px;
                            height: 37px;
                        }
                        &:last-child{
                            color:red;
                            font-size: 18px;
                            height: 37px;
                            float: left;
                        }
                    }
                }
            }
            .inmidia{
                width:878px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                a{
                    display: inline-block;
                    float: left;
                    height: 40px;
                    width:180px;
                    margin-right:15px; 
                    &:first-child{
                        border:1px solid red;
                        color: red;
                        background:white;
                    }
                    &:last-child{
                        border:1px solid red;
                        color: white;
                        background:red;
                    }
                }
            }



       }
   }
   //body-two
   .body-two{
       margin-top: 20px;
       width:1315px;
       height: 1700px;
       a{
           display: inline-block;
           color:#6e6e6e;
           font-size: 18px;
           height: 31px;
           line-height: 31px;
           width:1315px;
           border-bottom: 1px solid #ccc;
       }
       img{
           display: block;
           margin-top:5px;
       }
   }
  //body-three
   .body-three{
    margin-top: 20px;
    width:1315px;
    height: 170px;
    a{
        display: inline-block;
        color:#555;
        font-size: 18px;
        height: 31px;
        line-height: 31px;
        width:1315px;
        border-bottom: 2px solid #ccc;
        font-weight: 600;
    } 
    .remark{
        height: 70px;
        width:1315px;
    }
   }
   //body-four
   .body-four{
        width:1320px;
        height: 326px;
        border: 1px solid #ccc;
        overflow: hidden;
        b{
            width: 1318px;
            height: 31px;
            line-height: 31px;
            margin-left: 15px;
        }
        .relative{
            height: 293px;
            width: 1320px;
            border-top:1px solid #ccc; 
            ul{
                height: 293px;
                overflow: hidden;
                li{
                    float: left;
                    width:200px;
                    height: 260px;
                    margin:0 10px;
                    a{
                        display: inline-block;
                        &:first-child{
                            width: 201px;
                            height: 201px;
                            transition:all .6s;
                            border: 1px solid #ccc;
                            margin-top: 15px;
                            &:hover{
                                border: 1px solid #e49303;; 
                            }
                        }
                        &:last-child{
                            width: 200px;
                            height: 20px;
                            text-align: center;
                            color: #222;
                            font-weight: 600;
                            font-size: 14px;
                            margin-top: 5px;
                            transition:all .6s;
                            &:hover{
                                color: #e49303;
                            }
                        }
                    }
                    span{
                        display: inline-block;
                        width:200px;
                        height: 21px;
                        color: red;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    


        
}


// footer
.footer{
    width:1320px;
    margin:0 auto;
    height: 90px;
    text-align: center;
    ul{
        margin:0 auto;
        text-align: center;
        width:450px;
        line-height: 36px;
        li{
            display: inline-block;
            float: left;
            color:#6e6e6e;
            margin: 0 auto;
            a{
                display: inline-block;
                font-size: 12px;
                transition: all .6s;
                &:hover{
                    color:#ffa500;
                }
            }
        }
        .mistree{
            width:1px;
            height:12px;
            background: #6e6e6e;
            margin:0 13px;
            float: left;
            vertical-align: middle;
            margin-top:12px;
        }
    }
    .hrefs{
        width:1320px;
        text-align: center;
        span{
            font-size: 12px;
            color:#6e6e6e;
            line-height: 24px;
            width:100%;
            display: inline-block;
        }
    }
}

// zhichi
.big{
    width:100%;
    text-align: center;
    .zhichi{
        height: 30px;
        width:300px;
        margin:0 auto;
        color: #6e6e6e;
        font-size: 12px;
        line-height: 30px;
        span{
            display: inline-block;
        }
        .trouble-s{
            float: left;
        }
        .trouble-x{
            float: left;
            display: inline-block;
            width: 235px;
            margin:0 auto;
            a{
                display: inline-block;
                float: left;
                color:#6e6e6e;
                &:first-child{
                margin-left:3px;
            }
            }
            .mistrees{
                width:1px;
                height:13px;
                background: #6e6e6e;
                margin:0 8px;
                float: left;
                margin-top:10px;
            }
        }
    }
}
